@font-face {
  font-family: 'Bradley Hand ITC';
  src: url('./../fonts/BRADHITC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main1 {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
}

.container1 {
    /*position: absolute;
    left: 50%;
    transform: translateX(-50%);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title1 {
    font-family: 'Impact', sans-serif;
    font-size: 27pt;
    color: #7E2C2C;
}

.fisica_inscripcion {
    width: 532px;
    height: 275px;
    border: 1px solid #C68C3E;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombre_ins {
    font-family: 'Gabriola', sans-serif;
    font-size: 24pt;
    color: #7E2C2C;
    height: 35px;
}

.inscribirme {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7E2C2C;
    font-family: 'Impact', sans-serif;
    font-size: 15pt;
    color: white;
}

.recuerda1{
    width: 530px;
    height: auto;
    border: 1px solid #C68C3E;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.titulosr {
    display: flex;
    justify-content: space-between; /* distribuye espacio entre los elementos */
    align-items: center;            /* centra verticalmente */
    width: 90%;
}

.cupos {
    text-align: right;
}


.titulo_r{
    font-family: 'Bahncrishft', sans-serif;
    font-size: 19.5pt;
    color: #C68C3E;
    margin: 0 auto; /* se puede omitir si usamos space-between */
    text-align: center;
    flex: 1; 
}


.fisica_inscrito {
    width: 715px;
    height: 240px;
    border: 1px solid #C68C3E;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recuerda2{
    width: 652px;
    border: 1px solid #C68C3E;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.colored-marker li::marker {
  color: #C68C3E;
}

.lista{
    font-family: 'Bradley Hand ITC', sans-serif;
    font-size: 15pt;
}

.temariod {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #7E2C2C;
}

.dar_baja{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #C68C3E;
    margin-left: -200px;
    margin-top: -50px;
    align-self: flex-start;
}