@font-face {
    font-family: 'Bradley Hand ITC';
    src: url('./../fonts/BRADHITC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('./../fonts/BAHNSCHRIFT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.titles {
    font-family: 'Impact', sans-serif;
    font-size: 29.28pt;
    color: white;
}

.nombres {
    display: flex;
}

.titles a {
    color: white;
    /* Aplica el color blanco al enlace */
    text-decoration: none;
    /* Opcional: quita el subrayado */
}

.main1 {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    z-index: 1;
    align-items: center;
    gap: 8px;
}

.bienvenido {
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
}

.bienvenidop{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 20pt;
    color: #7E2C2C;
}

.nombrep{
    font-family: 'gabriola', sans-serif;
    font-size: 30pt;
    margin-top: -8px;
    color: #7E2C2C;
}

.img-hover-m {
    width: 120px;
    height: 120px;
    background-image: url('../images/matematicas.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.img-hover-m:hover {
    background-image: url('../images/inscripcion_matematicas.png');
}

.img-hover-f {
    width: 120px;
    height: 120px;
    background-image: url('../images/fisica.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.img-hover-f:hover {
    background-image: url('../images/Inscripción_fisica.png');
}

.img-hover-t
{
    width: 30px;
    height: 33px;
    margin-bottom: 7px;
    background-image: url('../images/descarga temario.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}
.botonTemario:hover .img-hover-t
{
    background-image: url('../images/descargar constancia.png');
}

.img-hover-c {
    width: 120px;
    height: 120px;
    background-image: url('../images/computación.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.img-hover-c:hover {
    background-image: url('../images/Inscripción_computación.png');
}

.cursos {
    display: flex;
    gap: 160px;
}

.curso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulocurso {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 17pt;
    color: #7E2C2C;
}

.title1 {
    font-family: 'Impact', sans-serif;
    font-size: 22.5pt;
    color: #7E2C2C;
}

.botonTemario {
    margin-top: 40px;
    width: 100px;
    background-color: #fff;
    border: 2px solid #7E2C2C;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.botonConstancia{
    margin-top: 50px;
    width: 100px;
    background-color: #fff;
    border: 2px solid #7E2C2C;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.temario1 {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 12pt;
    color: #7E2C2C;
}

.temario{
    display: flex;
    align-items: center;
    margin-left: 18px;
    gap: 16px;
}

.temariod {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #7E2C2C;
}
.constanciatxt {
    margin-top: 50px;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #7E2C2C;
}
.constanciaText{
    margin-top: 50px;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #7E2C2C;
}
.editar_informacion{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #C68C3E;
}

.editar_baja{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 32px;
    z-index: 0;
    top: -390px;
}

.dar_baja{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18pt;
    color: #C68C3E;
}

.curso button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #7E2C2C;
    /* Color vino tinto */
    color: white;
    border: none;
    padding: 2px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15pt;
    margin-top: 10px;
}

.curso button:hover{
    background-color: #C68C3E;
}