/* Declaración de las fuentes */
@font-face {
    font-family: 'Impact';
    src: url('/fonts/Impact.ttf');
}
@font-face {
    font-family: 'Gabriola';
    src: url('/fonts/Gabriola.ttf');
}

/* Estilo para el contenedor del formulario Registrar y Editar */
.contenedor-formulario-inicio-sesion {
    background-color: white;
    border: 2px solid #C68C3E;/* dorado */
    border-radius: 30px;
    padding: 3rem;
    width: 340px;
    height: calc(100vh - 174px);
    display: block;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el titulo "Registro" y "Editar información" */
.titulo-iniciar-sesion {
    font-family: Impact;
    font-size: 22pt;
    color: #7E2C2C;
}

/* Estilo para los inputs */
input {
    width: 250px;
    font-family: Gabriola;
    background: transparent;
    border: none;
    border-bottom: 2px solid #7E2C2C;
    outline: none;
    
}
.imput-inicio-sesion{
    font-size: 18pt;
}
/* Estilo del placeholder */
input::placeholder {
    color: #7E2C2C;
    font-family: Gabriola;
    font-size: 18px;
}

.form-group {
    margin-bottom: 10px;
    font-size: 18pt;
}

/* Estilo para el botón */
.btn-registrarme {
    width: 220px;
    height: 30px;
    background-color: #7E2C2C;
    color: white;
    font-family: Impact;
    font-size: 14pt;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
    
}

.btn-registrarme:hover {
    background-color: #661f1f;
}
/* public/css/estilos.css */
.custom-alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px 30px;
    width: fit-content;
    margin: -15px auto 5px auto;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
}
